<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>
    <!-- >>>>>>>> Common Parameters <<<<<<<<<-->
    <add key="NewVersion" value="true" />
    <add key="Browser" value="chrome" />
    <add key="ImplicitWait" value="300" />
    <add key="PageLoad" value="60" />
    <add key="ScreenTimeOut" value="60" />
    <add key="BrowserLoad" value="180" />
    <!--<add key="ScreenBusy" value="(//div[@class='modal-backdrop fade in']/div/child::* | //div[@role='progressbar']/*/child::*[1])[1]" />-->    
    <add key="SiteUrl" value="https://qat.companionconnect.com/login" />
    <add key="Email" value="inazir@companionprotect.com" />
    <add key="Password" value="TXVyaWRrZUAx" />
    <add key="ScreenBusy" value="//div[@role='progressbar']/*/child::*[1]" />
    <add key="Highlight" value="true" />

    <!-- >>>>>>>> Shared Parameters <<<<<<<<<-->
    <add key="Person" value="k" />
    <add key="Years" value="3" />
    <add key="PetType" value="Dog" />
    <add key="Gender" value="Male" />
    <add key="Temperament" value="Aggressive" />
    <add key="BiteHistory" value="Bite - Person" />
    <add key="Impression" value="Bites" />
    <add key="CauseOfDeath" value="Aggression" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>